@font-face {
  font-family: "Rosatom";
  font-display: swap;
  src: url("../assets/fonts/Rosatom-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RosatomBold";
  font-display: swap;
  src: url("../assets/fonts/Rosatom-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
